@model IEnumerable<Asp.netCoreDatPhongKS.Models.LienHeVoiCtoi>

@{
    ViewData["Title"] = "Quản lý liên hệ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/css/LienHe.css" rel="stylesheet" />
<h1>Quản lý liên hệ</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.HoTen)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>SĐT</th>
            <th>@Html.DisplayNameFor(model => model.NoiDung)</th>
            <th>@Html.DisplayNameFor(model => model.NgayGui)</th>
            <th>@Html.DisplayNameFor(model => model.TrangThai)</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.HoTen)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.SoDienThoai)</td>
                <td>@Html.DisplayFor(modelItem => item.NoiDung)</td>
                <td>@Html.DisplayFor(modelItem => item.NgayGui)</td>
                <td>@Html.DisplayFor(modelItem => item.TrangThai)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LienHeId" class="btn btn-primary" >Sửa</a>
                  @*   <a asp-action="Details" asp-route-id="@item.LienHeId" class="btn btn-primary">Chi tiết</a> *@
                    <a asp-action="Delete" asp-route-id="@item.LienHeId" class="btn btn-danger" >Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>