@model IEnumerable<Asp.netCoreDatPhongKS.Models.PhieuDatPhong>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/css/PhieuDatPhongAdmin.css" rel="stylesheet" />
<a href="@Url.Action("Index", "PhieuDatPhong")" class="btn btn-primary">Trở về</a>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Phiếu đặt phòng ID</th>
            <th>Mã phiếu</th>
            
            <th>Khách hàng</th>
            <th>SĐT</th>
            <th>Ngày nhận</th>
            <th>Tổng tiền</th>
            @* <th>Tiền cọc</th> *@
            <th>Số tiền cần hoàn</th>
            <th>Trạng thái</th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PhieuDatPhongId</td>
                <td>@item.MaPhieu</td>
              
                <td>@item.KhachHang.HoTen</td>
                <td>@item.KhachHang.SoDienThoai</td>
                <td>@item.NgayNhan?.ToString("dd/MM/yyyy")</td>
                <td>@item.TongTien.ToString("N0") VNĐ</td>
                <td>@item.TrangThai</td>
                <td>@item.TinhTrangSuDung</td>
              
                <td>               
                </td>
            </tr>
        }

    </tbody>
</table>
</div>